body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding:2px;
  background: rgb(0,36,35);
background: linear-gradient(90deg, rgba(0,36,35,0.7990546560421043) 0%, rgba(66,214,204,1) 0%, rgba(0,212,255,1) 77%);
  background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}

.input-text{
  transform: scale(1.05);
  min-width:15rem;
  max-width: 25rem;
  /* position:fixed; */
}
